<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('login')}"></head>
<body>
<nav
    th:replace="~{fragments/nav :: navbar(${#session == null ? null : #session.getAttribute('logonUserId')})}"></nav>
<div class="container mt-5">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <button type="button" onclick="login()" id="loginButton" class="btn btn-dark">Login</button>
</div>
</body>
<script th:src="@{/js/login.js}"></script>
</html>